html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: antiquewhite;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.header{
    width: 80%;
    border: 10px;
    padding-left: 100px;
    margin-bottom: 50px;
    border-color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 900;
    color:chocolate;
    text-shadow: 5px 10px 10px ;    
}

.inputSection{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width:50%;
     /* width: 500px; */
    /* display: flex; */
    justify-content: center;
    margin: auto;
    padding: 15px;
}


.titleSection{
    width: 100%;
    /* background-color: aqua; */
}

.iTitle{
    font-size: large;
    /* color: red; */
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.userInput{
    min-width: 98%;
    max-width: 98%;
    /* min-width: 250px; */
}

.userDataSection{

    background-color: rgb(255, 255, 255);
    width:50%;
     /* width: 500px; */
    /* display: flex; */
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.dataTitle{
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

  table{
    width: 90%;
    margin:auto;

  }